require 'spec_helper'


module <%=config[:pascal_name]%>

  describe <%=config[:pascal_name]%> do
    it 'has a version number' do
      expect(<%=config[:pascal_name]%>::VERSION).not_to be nil
    end

    it 'does something useful', current: true do
      result = <%=config[:pascal_name]%>.main
      expect(result).to eq("test")
    end
  end

end
