#include "<%=config[:underscored_name]%>.h"

VALUE rb_m<%=config[:pascal_name]%>;

void
Init_<%=config[:underscored_name]%>(void)
{
  rb_m<%=config[:pascal_name]%> = rb_define_module("<%=config[:pascal_name]%>");
}
