#!/usr/bin/env ruby

require "<%=config[:underscored_name]%>"

command = ARGV.count > 0 ? ARGV[0].chomp.strip : ''

if command == "help" || command == "--help" || command == "-h"
  puts <%=config[:pascal_name]%>.help
  return
end

puts <%=config[:pascal_name]%>.main
