require 'spec_helper'

module <%=config[:pascal_name]%>

  describe Config do

    before :each do
      ENV['<%=config[:screamcase_name]%>_ROOT_FOLDER'] = nil
    end

    after :each do
      ENV['<%=config[:screamcase_name]%>_ROOT_FOLDER'] = nil
    end

    it 'returns the ROOT_FOLDER set by the environment variable' do
      ENV['<%=config[:screamcase_name]%>_ROOT_FOLDER'] = "/tmp/blah"

      c = Config.new

      expect(c.root_folder).to eq("/tmp/blah")
    end

  end

end
